#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0     0>
            , <&key_physical_attrs 100 100  100   95       0     0     0>
            , <&key_physical_attrs 100 100  200   32       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   29       0     0     0>
            , <&key_physical_attrs 100 100  500   42       0     0     0>
            , <&key_physical_attrs 100 100  800   42       0     0     0>
            , <&key_physical_attrs 100 100  900   29       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100   32       0     0     0>
            , <&key_physical_attrs 100 100 1200   95       0     0     0>
            , <&key_physical_attrs 100 100 1300   95       0     0     0>
            , <&key_physical_attrs 100 100    0  195       0     0     0>
            , <&key_physical_attrs 100 100  100  195       0     0     0>
            , <&key_physical_attrs 100 100  200  132       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  129       0     0     0>
            , <&key_physical_attrs 100 100  500  142       0     0     0>
            , <&key_physical_attrs 100 100  800  142       0     0     0>
            , <&key_physical_attrs 100 100  900  129       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  132       0     0     0>
            , <&key_physical_attrs 100 100 1200  195       0     0     0>
            , <&key_physical_attrs 100 100 1300  195       0     0     0>
            , <&key_physical_attrs 100 100    0  295       0     0     0>
            , <&key_physical_attrs 100 100  100  295       0     0     0>
            , <&key_physical_attrs 100 100  200  232       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  229       0     0     0>
            , <&key_physical_attrs 100 100  500  242       0     0     0>
            , <&key_physical_attrs 100 100  800  242       0     0     0>
            , <&key_physical_attrs 100 100  900  229       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  232       0     0     0>
            , <&key_physical_attrs 100 100 1200  295       0     0     0>
            , <&key_physical_attrs 100 100 1300  295       0     0     0>
            , <&key_physical_attrs 100 100    0  395       0     0     0>
            , <&key_physical_attrs 100 100  100  395       0     0     0>
            , <&key_physical_attrs 100 100  200  332       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  329       0     0     0>
            , <&key_physical_attrs 100 100  500  342       0     0     0>
            , <&key_physical_attrs 100 100  800  342       0     0     0>
            , <&key_physical_attrs 100 100  900  329       0     0     0>
            , <&key_physical_attrs 100 100 1000  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  332       0     0     0>
            , <&key_physical_attrs 100 100 1200  395       0     0     0>
            , <&key_physical_attrs 100 100 1300  395       0     0     0>
            , <&key_physical_attrs 100 100  550  495       0     0     0>
            , <&key_physical_attrs 100 100  650  495       0     0     0>
            , <&key_physical_attrs 100 100  750  495       0     0     0>
            ;
    };
};
