#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMPAD 1
#define BLT 2

&mt {
    tapping-term-ms = <250>; // This is the value already set by default
};

/ {
    combos {
        compatible = "zmk,combos";

        /* ==================== CTRL+C, X, V ==================== */
        /* ==================== Остальные комбо ==================== */

        backspace {
            timeout-ms = <60>;
            require-prior-idle-ms = <180>;   // чуть строже, чтобы не срабатывал случайно
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        qstn {
            bindings = <&kp LS(N7)>;
            key-positions = <6 5>;
        };

        rght_skbk {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <4 3>;
            layers = <0>;
        };

        lft_skbk {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <2 3>;
            layers = <0>;
        };

        to_numa {
            bindings = <&to 0>;
            key-positions = <36>;
        };

        to_simb {
            bindings = <&sl 1>;
            key-positions = <48 50 18 17>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <7 6>;
        };

        entr {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
        };

        ctrl+shft {
            bindings = <&kp LS(LEFT_CONTROL)>;
            key-positions = <20 10>;
        };

        ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <20 21>;
        };

        shft {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <10 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&mt ESC Q  &kp W  &kp E  &kp R  &mt GRAVE T  &kp Y  &kp U      &kp I           &kp O         &kp C_MUTE
&kp A      &kp S  &kp D  &kp F  &kp G        &kp H  &kp J      &kp K           &kp L         &kp P
&kp Z      &kp X  &kp C  &kp V  &kp B        &kp N  &mt SQT M  &mt LBKT COMMA  &mt RBKT DOT  &mt QMARK FSLH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "base";
        };

        numsimb {
            bindings = <
&kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &trans
&kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp N0
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp LS(N0)
            >;
        };
    };
};
