#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMPAD 1
#define BLT 2

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp M  &kp Q       &kp W         &kp E  &kp R      &kp T           &kp Y      &kp U      &kp I                   &kp O                     &kp P               &kp C_NEXT
&kp Q  &kp A       &kp S         &kp D  &kp F      &kp G           &kp H      &kp J      &kp K                   &kp L                     &kp O               &kp J
&kp U  &kp Z       &kp X         &kp C  &kp V      &kp B           &kp N      &kp M      &mt LEFT_BRACKET COMMA  &mt RIGHT_BRACKET PERIOD  &mt QUESTION SLASH  &kp A
&kp B  &kp C       &kp LEFT_GUI         &kp LCTRL  &kp LEFT_SHIFT  &kp ENTER  &kp SPACE  &kp RIGHT_SHIFT         &kp RCTRL                 &kp RIGHT_GUI       &kp N       &kp D
&kp D  &kp K_MUTE  &kp A
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
