#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMPAD 1
#define BLT 2

/ {
    combos {
        compatible = "zmk,combos";

        /* ==================== CTRL+C, X, V ==================== */

        copy {
            timeout-ms = <45>;
            require-prior-idle-ms = <130>;
            slow-release;
            layers = <1 2>;           // работает на всех слоях
            bindings = <&kp LC(C)>;
            key-positions = <39 27>;
        };

        cut {
            timeout-ms = <45>;
            require-prior-idle-ms = <130>;
            slow-release;
            layers = <1 2>;
            bindings = <&kp LC(X)>;
            key-positions = <39 26>;
        };

        paste {
            timeout-ms = <45>;
            require-prior-idle-ms = <130>;
            slow-release;
            layers = <1 2>;
            bindings = <&kp LC(V)>;
            key-positions = <39 28>;
        };

        /* ==================== Остальные комбо ==================== */

        backspace {
            timeout-ms = <60>;
            require-prior-idle-ms = <180>;   // чуть строже, чтобы не срабатывал случайно
            layers = <1 2>;
            bindings = <&kp BACKSPACE>;
            key-positions = <5 4>;
        };

        print {
            timeout-ms = <50>;
            require-prior-idle-ms = <160>;
            layers = <0 1 2>;
            bindings = <&kp LC(P)>;
            key-positions = <1 2>;
        };

        insert {
            timeout-ms = <50>;
            require-prior-idle-ms = <160>;
            layers = <0 1 2>;
            bindings = <&kp INSERT>;
            key-positions = <1 3>;
        };

        qstn {
            bindings = <&kp LS(N7)>;
            key-positions = <6 7>;
        };

        rght_skbk {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <4 3>;
            layers = <0 1>;
        };

        lft_skbk {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <2 3>;
            layers = <0 1>;
        };

        calculator {
            bindings = <&kp C_AL_CALCULATOR>;
            key-positions = <5 41>;
            layers = <0 1>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <37 40>;
            layers = <0 1>;
        };

        to_numa {
            bindings = <&to 1>;
            key-positions = <0 36>;
        };

        to_simb {
            bindings = <&to 2>;
            key-positions = <48 50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&trans      &kp Q         &kp W         &kp E  &kp R      &mt GRAVE T     &kp Y      &kp U      &kp I                   &kp O                     &kp P               &trans
&kp ESCAPE  &kp A         &kp S         &kp D  &kp F      &kp G           &kp H      &kp J      &kp K                   &kp L                     &mt SQT SEMICOLON   &kp BACKSPACE
&kp TAB     &kp Z         &kp X         &kp C  &kp V      &kp B           &kp N      &mt SQT M  &mt LEFT_BRACKET COMMA  &mt RIGHT_BRACKET PERIOD  &mt QUESTION SLASH  &kp DEL
&trans      &kp LEFT_ALT  &kp LEFT_GUI         &kp LCTRL  &kp LEFT_SHIFT  &kp ENTER  &kp SPACE  &kp RIGHT_SHIFT         &kp RCTRL                 &kp RIGHT_GUI       &kp RIGHT_ALT  &trans
&mo 1       &kp C_MUTE    &mo 2
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "base";
        };

        numa_numa_yei {
            bindings = <
&trans  &kp KP_SLASH     &kp N7  &kp N8  &kp NUMBER_9  &kp MINUS       &trans  &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &trans  &trans
&trans  &kp KP_ASTERISK  &kp N4  &kp N5  &kp N6        &mt EQUAL PLUS  &trans  &trans          &kp DOWN_ARROW  &trans           &trans  &trans
&trans  &kp KP_DOT       &kp N1  &kp N2  &kp N3        &kp EQUAL       &trans  &trans          &trans          &trans           &trans  &trans
&trans  &kp N0           &trans          &trans        &trans          &trans  &trans          &trans          &trans           &trans  &trans  &trans
&to 0   &trans           &trans
            >;

            label = "numa";
        };

        simbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp LS(N7)            &kp LEFT_ARROW         &kp UP_ARROW    &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOWN_ARROW  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp BACKSLASH         &kp EXCLAMATION        &trans          &trans     &trans  &trans
&trans  &trans  &trans          &trans  &trans  &trans                &trans                 &trans          &trans     &trans  &trans  &trans
&trans  &trans  &trans
            >;

            label = "sim_bt";
        };
    };
};
